<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || "Kaunis Veranta" %></title>
  <%= stylesheet_link_tag 'kaunis_veranta' %>
</head>
<body background="<%=image_path("tausta.jpg")%>">

<table width="100%">
  <tr>
    <td></td>
    
    <td class="sisalto">
      
      <div class="logorivi">
        <%=image_tag("logo_transparent_smaller.gif", :size => "200x105", :alt => "Kaunis Veranta", :class => "logo")%>
      </div>
      
      <div class="linkkirivi">
        <div class="linkki">
	        <%= link_to("Yritys", {:action => "index"}) %>
	      </div>
	      <div class="linkki">
	        <%= link_to("Puutarhasuunnittelu", {:action => "puutarha"}) %>
	      </div>
	      <div class="linkki">
	        <%= link_to("Sisustustekstiilit", {:action => "sisustus"}) %>
	      </div>
	    </div>

      <div class="sisaltorivi">
        <%= yield %>
        <hr />
        <p id="tekijat">Daniel, Matti ja Marika Linjama</p>
      </div>
    
    </td>
    
    <td></td>
  </tr>
  
</table>

</body>
</html>
