<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'kaunis_veranta' %>
</head>
<body>

<p class="logorivi"><%=image_tag("banner.jpg", :size => "848x127", :alt => "Kaunis Veranta")%></p>

<p style="color: green"><%= flash[:notice] %></p>

<table width="100%"><tr><td></td><td class="sisalto">

<%= yield %>

<hr>

<div id="linkkirivi">
  <%= link_to_unless_current("Yritys",{:action => "index", :class => "linkki"}) %>
  <%= link_to_unless_current("Puutarhasuunnittelu",{:action => "puutarha", :class => "linkki"}) %>
</div>

</td><td></td></tr></table>
</body>
</html>
